*{
 text-align:center;
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;

}



.nav {
    background:#004648;
    padding: 1%;
    color:white;
    align-items: center;
}

.nav-link {
    display: inline-block;
    margin-right: 1%;
}

#icon{
  width:100px;
}

a:link,a:visited  {
  color:white ;
  background-color: transparent;
  text-decoration: none !important;
}

#carouselExampleFade{
    margin-top:5%;
}

#login_form{
    margin-top:15%;
    position:relative;
    margin-left: auto;
    margin-right: auto;
    width:500px;
    height:300px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: #004648;
    background-image:url("躁點圖.png");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;

}

#login_form_title{
    background-color: #004648;
    height:40px;
    color:white;
    font-weight:400;
    line-height: 30px;

}

#login_form_item{
    margin-top:5%;
    color: #004648 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
     align-items: center;
}

#login_form_item input {
    margin-top: 5%;
}

.btn-custom {
    background-color: #004648 !important;
    border-color: #004648 !important;
    color:white !important;
}

.search_title{
  margin-top:5%;
  margin-bottom:5%;
  color:#004648;
}

#search_form{
margin-top:5%;
margin-bottom:5%;

}

.search_form_item{
  text-align:center;
}

.form-control-custom{
    width:200px;
}

.show_books{
    padding-top: 5%;
    border-style: solid;
    border-width: 2px;
    border-radius: 30px;
    border-color: #004648;
}

#books_pagination{
    margin-top:5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
     align-items: center;
}




.row-book{
    margin-top:5%x;

}



.add_title{
    margin-top:5%;
    color:#004648;
}


#add_detail_form{
    position:relative;
    margin-left: auto;
    margin-right: auto;
    margin-top:1%;
    padding-top:2%;
    width:80%;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: #004648;

}

.form-control-plaintext{
   width:100px;
}

.borrow_title{
    color:#004648;
}

#class_borrow_form{
  margin-top:5%;
  margin-bottom:5%;
}

#student_borrow_form{
  margin-top:5%;
  margin-bottom:5%;
}

#class_books-items {
    margin-top:5%;
    padding-top:5%;
    border-style: solid;
    border-width: 2px;
    border-radius: 30px;
    border-color: #004648;
}

#student_borrow_books{
    margin-top:5%;
    padding-top: 20px;
    border-style: solid;
    border-width: 2px;
    border-radius: 30px;
    border-color: #004648;
}



.student_title{
    margin-top:5%;
    color: #004648;

}
#students_form{
    position:relative;
    margin-top:5%;
    margin-bottom:5%;
    margin-left: auto;
    margin-right: auto;
}

#students_data{
    position:relative;
    margin-left: auto;
    margin-right: auto;
    margin-top:2%;
    padding-top:2%;
    width:90%;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: #004648;
}


.user_title{
   margin-top:5%;
    color: #004648;
}

#user_form{
 position:relative;
    margin-left: auto;
    margin-right: auto;
   margin-top:5%;

}


#user_data{
    position:relative;
    margin-left: auto;
    margin-right: auto;
    margin-top:2%;
    padding-top:2%;
    width:90%;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: #004648;
}