<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ＯＯ圖書管理系統</title>
    <link rel="stylesheet" href="static/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet">

</head>
<body>

<nav>
    <ul class="menu">
        <a href="{{ url_for('home') }}">
            <img id="icon" src="static/小標誌.png">
        </a>
        <li class="menu-item">
            <a  href="{{url_for('research') }}">館藏搜尋</a>
        </li>
        {% if logged_in %}
        <li class="menu-item">管理員設定
            <ul class="menu-item-sub">
            <li><a class="nav-link"  href="{{url_for('usermanage')}}"> 管理員資料設定 </a></li>
            <li><a class="nav-link"  href="{{url_for('log_out') }}"> 管理員登出</a></li>
            </ul>
        </li>
        {% else %}
        <li class="menu-item"><a  href="{{url_for('login') }}"> 管理員登入 </a></li>
        {% endif %}
        <li class="menu-item">資料處理
            <ul class="menu-item-sub" >
                <li><a  class="nav-link" href="{{url_for('add') }}"> 書籍管理</a></li>
                <li><a  class="nav-link" href="{{url_for('class_borrow') }}"> 班級借閱 </a></li>
                <li><a  class="nav-link" href="{{url_for('student_borrow') }}"> 學生借閱 </a></li>
                <li><a  class="nav-link" href="{{url_for('student') }}"> 學生資料設定 </a></li>
            </ul>
        </li>
    </ul>
</nav>
<div class="text-runner">
    <p>訪客可使用館藏搜尋功能，管理員、教師請登入</p>
</div>

{% block content%}
{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>


</body>
</html>