{% extends 'base.html'%}

<body>
{% block content%}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-primary d-flex align-items-center" role="alert">
    <div>
        {{ message }}
    </div>
</div>
{% endfor %}
{% endif %}
{% endwith %}
<div>
    <h1>
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#4D4D4D"
             class="search_icon bi bi-book-half"
             viewBox="0 0 16 16">
            <path d="M8.5 2.687c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783"/>
        </svg>
        書本借閱
    </h1>
    <div>
        <p><strong>＊新增班級書</strong><br>輸入書本編號，成功移動辦公室書本至班上後，會顯示於下方表格</p>
        <form method="post">
            {{ bookposition.hidden_tag()}}
            <div class="container">
                <div class="row justify-content-center add_form">
                    <div class="col-2 ">
                        {{ bookposition.book_number.label}}
                    </div>
                    <div class="col-4 ">
                        {{ bookposition.book_number(class="form-control")}}
                    </div>
                    <div class="col-2 ">{{ bookposition.submit(class="form-control") }}</div>
                </div>
            </div>
        </form>


        <h1>
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#4D4D4D"
                 class="search_icon bi bi-book-half"
                 viewBox="0 0 16 16">
                <path d="M8.5 2.687c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783"/>
            </svg>
            班級書借閱
        </h1>
        <p>正確借閱後會更新於下方表格</p>
        <form method="post">
            {{ borrowerbook.hidden_tag()}}
            <div class="container">
                <div class="row justify-content-center add_form">
                    <div class="col-2 ">
                        {{ borrowerbook.book_number.label}}
                    </div>
                    <div class="col-4 ">
                        {{ borrowerbook.book_number(class="form-control")}}
                    </div>
                    <div class="col-2 "></div>
                </div>
                <div class="row justify-content-center add_form">
                    <div class="col-2 ">
                        {{ borrowerbook.student_number.label}}
                    </div>
                    <div class="col-4 ">
                        {{ borrowerbook.student_number(class="form-control")}}
                    </div>
                    <div class="col-2 "></div>

                </div>
                <div class="row justify-content-center add_form">
                    <div class="col-2 "></div>

                    <div class="col-4 ">
                        {{ borrowerbook.submit(class="btn btn-light") }}
                    </div>
                    <div class="col-2 "></div>

                </div>
        </form>

        <h1>
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#4D4D4D"
                 class="search_icon bi bi-book-half"
                 viewBox="0 0 16 16">
                <path d="M8.5 2.687c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783"/>
            </svg>
            班級書籍
        </h1>
        {% if books %}
        <div class="container" id="all-books">
            {% for book in books %}
            <div class="row justify-content-center add_form">
                <div class="col ">
                    編號<br>
                    <strong>{{ book.id}}</strong>
                </div>
                <div class="col">
                    書名<br>
                    <strong>{{ book.title}}</strong>
                </div>
                <div class="col">
                    作者<br>
                    <strong>{{ book.author}}</strong>
                </div>
                <div class="col">
                    位置<br>
                    <strong>{{ book.position}}</strong><br>
                </div>
                <div class="col">
                    借閱者 <br>
                    <strong>{{ book.borrower}}</strong><br>
                    {% if book.borrower != '---' %}
                    <a style="color:blue" href="{{ url_for('returnbook',book_id = book.id)}}">x</a>
                    {% endif %}
                </div>
                <div class="col">
                    <a style="color:red" href="{{ url_for('returnoffice',book_id = book.id) }}"> 退還辦公室 </a>
                </div>

            </div>
            {% endfor%}
        </div>
        {% endif%}
    </div>

    {% endblock %}
</body>
</html>